In [1]:
import sys
sys.version

'3.6.4 | packaged by conda-forge | (default, Dec 23 2017, 16:31:06) \n[GCC 4.8.2 20140120 (Red Hat 4.8.2-15)]'

In [2]:
import glob
import os

import pandas

In [3]:
parquet_files = glob.glob('../../data/physionet/mimic3wdb/matched/*/*/*.parquet')
parquet_files = list(filter(lambda f: not(f.endswith('.features.parquet')), parquet_files))
print(len(parquet_files))
parquet_files[:10]

18901

['../../data/physionet/mimic3wdb/matched/p00/p003495/3916659.0000.parquet',
 '../../data/physionet/mimic3wdb/matched/p00/p003495/3916659.0001.parquet',
 '../../data/physionet/mimic3wdb/matched/p00/p000020/3544749.0000.parquet',
 '../../data/physionet/mimic3wdb/matched/p00/p000020/3544749.0001.parquet',
 '../../data/physionet/mimic3wdb/matched/p00/p000020/3544749.0002.parquet',
 '../../data/physionet/mimic3wdb/matched/p00/p000020/3544749.0003.parquet',
 '../../data/physionet/mimic3wdb/matched/p00/p000030/3524877.0000.parquet',
 '../../data/physionet/mimic3wdb/matched/p00/p000033/3713820.0000.parquet',
 '../../data/physionet/mimic3wdb/matched/p00/p000033/3713820.0001.parquet',
 '../../data/physionet/mimic3wdb/matched/p00/p000033/3713820.0002.parquet']

In [4]:
df = pandas.DataFrame()
df['file'] = parquet_files
df['size'] = list(map(lambda parquet_file: os.path.getsize(parquet_file), parquet_files))
df['bucket_id'] = list(map(lambda parquet_file: parquet_file.split(os.path.sep)[-3], parquet_files))
df['subject_id'] = list(map(lambda parquet_file: parquet_file.split(os.path.sep)[-2], parquet_files))
df['record_id'] = list(map(lambda parquet_file: '-'.join(parquet_file.split(os.path.sep)[-3:])[:-13], parquet_files))
df.head()

,file,size,bucket_id,subject_id,record_id
0,../../data/physionet/mimic3wdb/matched/p00/p00...,89215291,p00,p003495,p00-p003495-3916659
1,../../data/physionet/mimic3wdb/matched/p00/p00...,16368810,p00,p003495,p00-p003495-3916659
2,../../data/physionet/mimic3wdb/matched/p00/p00...,68988192,p00,p000020,p00-p000020-3544749
3,../../data/physionet/mimic3wdb/matched/p00/p00...,69456632,p00,p000020,p00-p000020-3544749
4,../../data/physionet/mimic3wdb/matched/p00/p00...,70660667,p00,p000020,p00-p000020-3544749

In [5]:
df.to_csv('parquet_files.csv', index=False)

In [6]:
df[['bucket_id', 'size']].groupby('bucket_id').sum().sort_values(by='size', ascending=False)

                   size
bucket_id
p01        501871454073
p00        497569305833
p02        297462436976

In [7]:
df[['bucket_id', 'subject_id', 'size']]      \
    .groupby(by=['bucket_id', 'subject_id']) \
    .sum()                                   \
    .sort_values(by='size', ascending=False) \
    .head(10)

                             size
bucket_id subject_id
p01       p013593     21449719248
p02       p021148     19081736101
p00       p000801     15046894823
          p007251     12893305762
          p004802     10721763283
          p000652     10614533327
p01       p010721     10195590916
p02       p024084      9970453849
p00       p000124      9719330201
p01       p010814      9517286030

In [8]:
df[['bucket_id', 'subject_id', 'record_id', 'file', 'size']]      \
    .groupby(by=['bucket_id', 'subject_id', 'record_id', 'file']) \
    .sum()                                                \
    .sort_values(by='size', ascending=False)              \
    .head(10)

                                                                                                  size
bucket_id subject_id record_id           file
p02       p024573    p02-p024573-3538459 ../../data/physionet/mimic3wdb/matched/p02/p024...  108098427
p01       p014079    p01-p014079-3383013 ../../data/physionet/mimic3wdb/matched/p01/p014...  107210179
          p010186    p01-p010186-3612498 ../../data/physionet/mimic3wdb/matched/p01/p010...  103421894
          p017122    p01-p017122-3756565 ../../data/physionet/mimic3wdb/matched/p01/p017...  102495794
p02       p021460    p02-p021460-3877231 ../../data/physionet/mimic3wdb/matched/p02/p021...  102475639
          p021271    p02-p021271-3257159 ../../data/physionet/mimic3wdb/matched/p02/p021...  102469192
          p021460    p02-p021460-3205243 ../../data/physionet/mimic3wdb/matched/p02/p021...  102461971
          p021271    p02-p021271-3257159 ../../data/physionet/mimic3wdb/matched/p02/p021...  102420133
                                         ../../data/physionet/mimic3wdb/matched/p02/p021...  102370320
          p021460    p02-p021460-3877231 ../../data/physionet/mimic3wdb/matched/p02/p021...  102335057

In [9]:
df[['bucket_id', 'subject_id', 'record_id', 'file', 'size']] \
    .sort_values(by='size', ascending=False)                 \
    .head(10)

,bucket_id,subject_id,record_id,file,size
18382,p02,p024573,p02-p024573-3538459,../../data/physionet/mimic3wdb/matched/p02/p02...,108098427
10669,p01,p014079,p01-p014079-3383013,../../data/physionet/mimic3wdb/matched/p01/p01...,107210179
7517,p01,p010186,p01-p010186-3612498,../../data/physionet/mimic3wdb/matched/p01/p01...,103421894
12721,p01,p017122,p01-p017122-3756565,../../data/physionet/mimic3wdb/matched/p01/p01...,102495794
16742,p02,p021460,p02-p021460-3877231,../../data/physionet/mimic3wdb/matched/p02/p02...,102475639
16435,p02,p021271,p02-p021271-3257159,../../data/physionet/mimic3wdb/matched/p02/p02...,102469192
16721,p02,p021460,p02-p021460-3205243,../../data/physionet/mimic3wdb/matched/p02/p02...,102461971
16436,p02,p021271,p02-p021271-3257159,../../data/physionet/mimic3wdb/matched/p02/p02...,102420133
16434,p02,p021271,p02-p021271-3257159,../../data/physionet/mimic3wdb/matched/p02/p02...,102370320
16741,p02,p021460,p02-p021460-3877231,../../data/physionet/mimic3wdb/matched/p02/p02...,102335057

In [10]:
df.describe()

               size
count  1.890100e+04
mean   6.861559e+07
std    1.700682e+07
min    9.580000e+02
25%    6.840599e+07
50%    7.108035e+07
75%    7.691558e+07
max    1.080984e+08